header{
    background-color: #186F65;
    color: #FFF5E0;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
    font-size: 36px;
}

.input-section{
    display: flex; 
    flex-direction: column;
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.6em;
}

input, textarea{
    padding: 10px;
    border: #5D12D2 solid 1px;
    border-radius: 4px;
    outline: none;
}

input, textarea:focus{
    border-color: #B931FC;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: #BCA37F;
    color: #113946;
    border: none;
    cursor: pointer;
    width: 20em;
}

button:hover{
    background-color: #EAD7BB;
}

button:active{
    background-color: #FFF2D8;
    transform: translateY(2px);
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.2em;
}

#input-button{
    display: inline-block;
    text-align: center;
}

.input-field{
    padding: 20px;
}

.ini-hasil{
    height: 100px;
}

.input-hasil, .ini-hasil, .input-field{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;   
    font-weight: bold; 
}

body{
    font-family: 'Kanit', sans-serif;
}

#teks-tutorial{
    font-size: 1.3em;
}